
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "Open Sans";
  src: url("Open_Sans/OpenSans-Regular-webfont.ttf");
}

.bg-blue {
    background-color: #dfe2fd;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000066;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    padding: 5px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;

}

.button span {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #000066;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    padding: 5px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

.button1 span:before {
    content: "\00ab";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-left: 15px;
}

.button1:hover span:before {
    opacity: 1;
    left: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#contenedor {
    font-size: 1vw;
    color: #006;
    background-color: #fff;
}

.flex-end {
    justify-content: flex-end !important;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

font {
    font-size: 1vw;
    color: #000066;
}

.font2 {
    color: #000066;
    font-style: normal;
    font-weight: normal;
    font-size: small;
}

form {
    margin: 0;
}

.form-check {
    position: relative;
    display: block;
}

.form-check-input {
    margin-top: 0.3rem;
}

.form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
}

.form-check-label {
    margin-bottom: 0;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-group {
    margin-bottom: 0.6rem;
}

.formatoEncabezados {
    font-weight: 600;
    text-align: center;
    font-size: 0.9em;
    background-color: #FFFFFF;
    color: #000066;
}

.formatoDatos {
    font-size: 0.8em;
    color: #000066;
}

.formatoDatos5 {
    font-size: 0.8em;
    color: #000066;
}

.formatoBoton {
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #dcdcdc;
    padding: 3px 13px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.formatoBoton:hover {
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #ffffff;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.formatoBoton1 {
    font-size: 0.8em;
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #dcdcdc;
    padding: 1px 8px 3px 8px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.formatoBoton1:hover {
    font-size: 0.8em;
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #ffffff;
    padding: 1px 8px 3px 8px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

html, body {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

img {
    max-width: 100%;
    height: auto;
}

.input-date{
    margin: 0 5px 0 0;
    flex: 0 0 10%;
    max-width: 10%;
}
.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-between {
    justify-content: space-between !important;
}


legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}


.label {
    width: 10%;
}

.resaltado {
    font-size: 1.2vw;
    background-color: #000066;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #ffffff;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.resaltado:hover {
    font-size: 1.2vw;
    background-color: #95afff;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #006;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.row {
   /* display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
}

/*Responsive*/
#saludo {
    text-align: center;
    font-size: 1.2vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    margin-top: 0.2%;
    text-transform: uppercase;
}

#saludo1 {
    text-align: center;
    font-size: 1.2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-transform: uppercase;
}
#saludo1 img {
    width: 15% !important;
}
#saludo2 {
    text-align: left;
    font-size: 1.2vw;
}

.swal-button {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #000066;
    color: white;
    font-size: 14px;
    border: 1px solid #000066;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button:hover {
    opacity: 1;
}

.swal-button--cancel {
    /*color: #555;*/
    /*background-color: #efefef;*/
}
.swal-button--cancel:hover {
    /*color: #555;*/
    /*background-color: #efefef;*/

}
.swal-button--cancel:not([disabled]):hover {
    /*background-color: #e8e8e8;*/
    opacity: 1;
}

 .swal-button:not([disabled]):hover {
     background-color: #4f72be;
 }
.swal-button--confirm {
    /*color: #555;*/
    /*background-color: #efefef;*/
}

.swal-text{
    text-align: center;
}
/*td,
th {
    padding-left: 5px;
    padding-right: 5px;
}*/

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

tr:nth-child(even) {
    background-color: #dfe2fd;
}

table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.table2 {
    border: 0 solid #000066;
}

.tabla-100 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tabla-90 {
    width: 90%;
    margin: 10px auto;
}

.tabla-80 {
    width: 80%;
    margin: 10px auto;
}

.tabla-70 {
    width: 70%;
    margin: 10px auto;
}

.tabla-60 {
    width: 60%;
    margin: 10px auto;;
}

.tabla-50 {
    width: 50%;
    margin: 10px auto;;
}

.tabla-40 {
    width: 40%;
    margin: 10px auto;;
}

textarea.form-control {
    height: auto;
}
.text-bold {
    font-weight: bold;
}

.titulo {
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    color: #000066;
    margin-bottom: 1em;
    margin-top: 1em;
}

.titulo1 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #ff0000;
}

.titulo2 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #006600;
}

.titulo3 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #000066;
}


table.dataTable tbody td.formatoDataTable1, .formatoDatos1 {
    color: #d40000;
}

table.dataTable tbody td.formatoDataTable2, .formatoDatos2 {
    color: #009d00;
}

table.dataTable tbody td.formatoDataTable3, .formatoDatos3 {
    color: #aa5fff;
}

table.dataTable tbody td.formatoDataTable4, .formatoDatos4 {
    color: #e29641;
}


.select2-container .select2-selection--single {
    height: 45px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.375rem !important;
}
.select2-container .select2-selection--single:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px !important;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px !important;
}

/*table.dataTable th.dt-type-numeric, table.dataTable td.dt-type-numeric {
    text-align: center !important;
}*/
table.dataTable th.dt-type-date, table.dataTable td.dt-type-date {
    text-align: center !important;
}
div.dt-buttons {
    margin-bottom: 12px;
}