/*@font-face {
  font-family: "Open Sans";
  src: url("Open_Sans/OpenSans-Regular.ttf");
}*/

*,
::after,
::before {
    box-sizing: border-box;
}

.bg-blue {
    background-color: #dfe2fd;
}

body {
    margin: 0px 0px 0px 0px;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000066;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    padding: 5px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;

}

.button span {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #000066;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    padding: 5px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

.button1 span:before {
    content: "\00ab";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-left: 15px;
}

.button1:hover span:before {
    opacity: 1;
    left: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-form-label {
    padding-top: calc(0.175rem + 1px);
    padding-bottom: calc(0.175rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.commenthidden {
    display: none;
}

.commentshown {
    display: inline;
}

#contenedor {
    font-size: 1vw;
    width: 100%;
    color: #006;
    margin: auto;
    background-color: #fff;
    position: absolute;
    padding-left: 1%;
    padding-right: 1%;
}

.flex-end {
    justify-content: flex-end !important;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

font {
    font-size: 1vw;
    color: #000066;
}

.font2 {
    color: #000066;
    font-style: normal;
    font-weight: normal;
    font-size: small;
}

.form-check {
    position: relative;
    display: block;
}

.form-check-input {
    margin-top: 0.3rem;
}

.form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
}

.form-check-label {
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem);
    padding: 0.175rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-group {
    margin-bottom: 0.6rem;
}

.formatoEncabezados {
    font-weight: 600;
    text-align: center;
    font-size: 0.9em;
    background-color: #FFFFFF;
    color: #000066;
}

.formatoDatos {
    font-size: 0.9em;
    color: #000066;
}

.formatoBoton {
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #dcdcdc;
    padding: 3px 13px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.formatoBoton:hover {
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #ffffff;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.formatoBoton1 {
    font-size: 0.8em;
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #dcdcdc;
    padding: 1px 8px 3px 8px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.formatoBoton1:hover {
    font-size: 0.8em;
    background-color: #000066;
    border-width: thin;
    border-style: none;
    color: #ffffff;
    padding: 1px 8px 3px 8px;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

html {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

img {
    max-width: 100%;
    height: auto;
}

.input-date{
    margin: 0 5px 0 0;
    flex: 0 0 10%;
    max-width: 10%;
}
.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

label {
    display: inline-block;
    /*margin-bottom: 0.5rem;*/
    text-align: right;
    font-weight: 400;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}


.label {
    width: 10%;
}


.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1,
.py-1 {
    padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.m-n1 {
    margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
    margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
    margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
    margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
    margin-left: -0.25rem !important;
}

.m-n2 {
    margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
    margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
    margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
    margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
    margin-left: -0.5rem !important;
}

.m-n3 {
    margin: -1rem !important;
}

.mt-n3,
.my-n3 {
    margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
    margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
    margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
    margin-left: -1rem !important;
}

.m-n4 {
    margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
    margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
    margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
    margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
    margin-left: -1.5rem !important;
}

.m-n5 {
    margin: -3rem !important;
}

.mt-n5,
.my-n5 {
    margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
    margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
    margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
    margin-left: -3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.resaltado {
    font-size: 1.2vw;
    background-color: #000066;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #ffffff;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.resaltado:hover {
    font-size: 1.2vw;
    background-color: #95afff;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #006;
    line-height: normal;
    font-weight: bolder;
    text-align: center;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Responsive*/
#saludo {
    text-align: center;
    font-size: 1.2vw;
    background: url("../images/LogoNova1.jpg") no-repeat center top;
    padding-top: 15%;
    padding-bottom: 2%;
    margin-top: 0.2%;
    text-transform: uppercase;
}

#saludo1 {
    text-align: center;
    height: 20px;
    font-size: 1.2vw;
    background: url("../images/LogoNova.jpg") no-repeat center top;
    padding-top: 9%;
    padding-bottom: 3%;
    text-transform: uppercase;
}

#saludo2 {
    text-align: left;
    font-size: 1.2vw;
}

/*td,
th {
    padding-left: 5px;
    padding-right: 5px;
}*/

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

tr:nth-child(even) {
    background-color: #dfe2fd;
}

table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.table2 {
    border: 0 solid #000066;
}

.tabla-100 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tabla-90 {
    width: 90%;
    margin: 0 auto 10px auto;
}

.tabla-80 {
    width: 80%;
    margin: 0 auto 10px auto;
}

.tabla-70 {
    width: 70%;
    margin: 0 auto 10px auto;;
}

.tabla-60 {
    width: 60%;
    margin: 0 auto 10px auto;;
}

.tabla-50 {
    width: 50%;
    margin: 0 auto 10px auto;;
}

textarea.form-control {
    height: auto;
}
.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.titulo {
    font-size: large;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    color: #000066;
    margin-bottom: 1em;
    margin-top: 1em;
}

.titulo1 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #ff0000;
}

.titulo2 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #006600;
}

.titulo3 {
    font-size: medium;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    color: #000066;
}


table.dataTable tbody td.formatoDataTable1, .formatoDatos1 {
    color: #d40000;
}

table.dataTable tbody td.formatoDataTable2, .formatoDatos2 {
    color: #009d00;
}

table.dataTable tbody td.formatoDataTable3, .formatoDatos3 {
    color: #aa5fff;
}

table.dataTable tbody td.formatoDataTable4, .formatoDatos4 {
    color: #e29641;
}

